/* css styles */

body {
	box-sizing: border-box;
}

#quarto-document-content {
	width: 95vw;
}

#listing-blog {
	width: 25vw;
	max-width: 27vw;
	height: fit-content;
	max-height: 80vh;
	margin-right: -5vw;
	background-color: #b3c0d1;
	padding: 1.5rem;
	border-radius: 5px;

	.card-divider {
		border-top: 1px solid var(--bs-primary-text-emphasis);
		margin: 0;
		padding: 0.25rem;
	}
}

#gallery {
	max-width: 70vw;
	width: 60vw;
}

#key-facts {
	background-color: #0f0f57;
	margin-left: -10vw;
	margin-right: -10vw;
	max-width: 115vw;

	.key-facts__heading {
		color: white;
		margin-inline-start: 15vw;
	}

	#listing-key-facts__list {
		margin-inline-start: 10vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 2rem;
		.card {
			width: 85%;
		}
	}
}

.vcenter {
	vertical-align: middle;
}

h1.title {
	@media only screen and (max-width: 951px) {
		text-align: center;
	}
}
.title__part-1 {
	/* margin-left: -10vw; */
	padding-left: 2vw;
	@media only screen and (max-width: 951px) {
		margin-left: auto;
	}
}
.title__part-2 {
	margin-left: 20vw;
	font-size: 60%;
	@media only screen and (max-width: 951px) {
		margin-left: auto;
	}
}
.title__part-3 {
	margin-left: 8vw;
	@media only screen and (max-width: 951px) {
		margin-left: auto;
	}
}

.carousel-caption {
	background-color: rgba(32, 31, 31, 0.529);
	color: white;
	padding: 10px;
}
