/* css styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --light-blue-grey: #edf2f9;
    --rich-blue: #192d83;
    --dark-grey: #090d1f;
    --plum: #6c077e;
}
/* elements */
body {
    /* this makes the body a grid and makes sure the content is 2000px max and displays as a column in the center */
    box-sizing: border-box;
    font-family: Montserrat;
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(0, 2000px);
    background-color: var(--light-blue-grey);
    justify-self: center;
    width: 100%;
}

nav {
    /* navbar at the top */
    font-size: 1rem;
    background-color: var(--rich-blue);
    @media only screen and (min-width: 1500px) {
        font-size: 1.3rem;
        .navbar-title {
            font-size: 2rem;
        }
    }
}

a {
    /* links */
    color: var(--plum);
    &:hover {
        color: #b032c6;
    }
}

ul:not(.navbar-nav) > li {
    margin-bottom: 0.8rem;
}

/* IDs */
#quarto-content {
    /* making sure content doesn't break at wide widths and stays centered */
    width: 100%;
    max-width: 2000px;
    grid-column: unset;
}
#index-wrapper {
    /* this gets rid of the column for side menu */
    grid-template-columns: unset;
}
#title-block-header {
    /* this is the ccmi header within the content */
    justify-self: center;
    justify-content: center;

    .main-title {
        font-size: 2rem;
        font-weight: 420;
        color: var(--rich-blue);
        padding-inline: 2%;
        width: max-content;
        max-width: 90vw;

        .title__part-1 {
            font-size: 90%;
            transform: translateX(-12%);
            @media only screen and (max-width: 1200px) {
                transform: unset;
            }
        }

        .title__part-3 {
            font-size: 105%;

            @media only screen and (max-width: 1200px) {
                font-size: 100%;
            }
        }
    }
}

#gallery {
    /* this holds the photos of UCL and Imperial with their captions, side by side above 1200px but otherwise in a column */
    padding-top: 2rem;
    padding-bottom: 4rem;
    height: max-content;
    padding-inline: 2%;

    .gallery__inner {
        display: flex;
        flex-direction: row;
        gap: 4%;
        justify-content: space-around;
        padding-inline: 3%;

        @media only screen and (max-width: 1200px) {
            min-height: 100vh;
            flex-direction: column;
            gap: 12rem;
            padding-inline: unset;
        }
    }
    .gallery__item {
        width: 50%;
        position: relative;
        display: grid;
        padding: 0.5rem;

        > img {
            object-fit: cover;
            border-radius: 8px;
        }
        @media only screen and (max-width: 1200px) {
            width: 100%;
            overflow: visible;
            display: flex;
            flex-direction: column;
        }
    }

    .gallery__item__caption {
        background-color: #16151587;
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        color: white;
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        justify-self: center;
        align-self: center;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);

        @media only screen and (max-width: 1200px) {
            width: 90%;
            transform: translateY(70%);
        }
    }
}
#upcoming-events-wrapper, #blog-wrapper {
    /* the strip that holds the blog and events previews, side by side above 1000px, otherwise column */
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: fit-content;
    width: 100%;
    margin-top: 5rem;

    background: rgba(179, 192, 209, 0.567);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(179, 192, 209, 0.1);
    padding: 1.8rem;
    border-radius: 5px;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

#blog-events-wrapper {
    /* the strip that holds the blog and events previews, side by side above 1000px, otherwise column */
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: fit-content;
    width: 100%;
    margin-top: 5rem;

    background: rgba(179, 192, 209, 0.567);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(179, 192, 209, 0.1);
    padding: 1.8rem;
    border-radius: 5px;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

#listing-upcoming-events,
#listing-blog,
#listing-current-events {
    /* the actual blog and events preview carousels */
    margin:auto;
    width: 50%;
    height: fit-content;

    @media only screen and (max-width: 1000px) {
        width: 100%;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--rich-blue);
        &:hover {
            color: #038ade;
        }
    }
    .carousel-inner {
        height: 10rem;
        @media only screen and (max-width: 600px) {
            height: 16rem;
        }
    }
    .carousel-indicators {
        margin-bottom: -1.2rem;
    }
    .card,
    .carousel-item {
        height: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .card-divider {
        border-top: 1px solid var(--bs-primary-text-emphasis);
        margin: 0;
        padding: 0.25rem;
    }

    .carousel-control-next {
        width: unset;
        right: -2rem;
    }
    .carousel-control-prev {
        width: unset;
        left: -2rem;
    }
}

#key-facts {
    background-color: var(--rich-blue);

    padding-top: 1vh;
    max-width: max-content;

    @media only screen and (min-width: 2000px) {
        max-width: 100%;
    }

    .key-facts__heading {
        color: white;
        margin-inline-start: 10vw;
        font-weight: 600;
    }

    #listing-key-facts__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        margin-bottom: -10vh;

        @media only screen and (max-width: 951px) {
            margin-bottom: auto;
        }

        .card {
            font-size: 110%;
            max-width: 85%;
            width: fit-content;
            color: rgb(226, 240, 250);
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    #section-wave {
        /* this hides a line made by the container it's in */
        margin-bottom: -2px;
    }
}

#interest {
    background-color: transparent;
    h1 {
        color: var(--rich-blue);
    }

    #btn--signup {
        font-size: 2rem;
        transition: background 0.5s ease;
        border-radius: 30px;
        color: var(--plum);
        border-color: var(--plum);
        border-width: 2px;

        &:hover {
            background: #add2a1e2;
            color: #3f723f;
            border-color: #3f723f;

            > span {
                font-weight: 600;
            }
        }
    }
}

#btn-outline--custom {
    &:hover {
        color: white;
        background-color: rgb(75, 124, 148);
    }
}

#contact-us {
    margin-bottom: 10vh;
    @media only screen and (max-width: 900px) {
        margin-bottom: 1rem;
    }
}

#logos {
    /* logos should appear in one row above 900px, otherwise as a 2x2 grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    justify-items: center;

    img,
    svg {
        width: 200px;
    }

    @media only screen and (max-width: 900px) {
        padding-inline: 1%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 0.8rem;

        img,
        svg {
            width: 100%;
            height: auto;
        }
    }
}

#listing-team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1vw;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .card {
        height: 100%;
    }

    .team-image {
        max-height: 50vh;
        object-fit: cover;
    }
}

#project-description {
    background-color: #f9fafc;
    padding: 0.8rem;
    border-radius: 8px;
}

/* classes */
.quarto-title {
    /* title of non main pages */
    h1.title {
        color: var(--rich-blue);
        font-weight: 400;
        text-align: center;
    }
}
.quarto-title-block:has(:first-child:nth-last-child(3)) {
    /* this should only style on the phd pages due to the number of children */
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    justify-items: center;

    .quarto-title {
        grid-column: 1 / -1; /* spanning the row */
    }
    .quarto-title-meta-author {
        grid-column: 1; /* Place in the first column */
    }

    .quarto-title-meta {
        grid-column: 5; /* Place in the last column */
    }
}

.navbar-container {
    /* some responsive styling for the content in the navbar at larger widths so it's not spread out too much */
    @media only screen and (min-width: 1600px) {
        max-width: 80%;
        justify-content: center;
    }

    @media only screen and (min-width: 2000px) {
        max-width: 60%;
        justify-content: center;
    }
}
.nav-link {
    color: rgba(240, 248, 255, 0.855);

    &.active {
        color: rgba(240, 248, 255, 1) !important;
        text-decoration: underline rgba(240, 248, 255, 0.855);
        text-underline-offset: 8px;
    }
}

.navbar-title {
    color: #ecf3fa;
}

.aa-DetachedSearchButtonIcon > svg {
    fill: #ecf3fa;
}

.wave-background {
    background-image: url("static/assets/gradient-waves.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    padding-bottom: 2vh;

    h3,
    h5 {
        color: var(--rich-blue);
    }

    .btn--contact {
        color: #283c95;
        background: rgba(255, 255, 255, 0.31);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.2px);
        -webkit-backdrop-filter: blur(4.2px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:hover {
            background-color: rgba(255, 255, 255, 0.81);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        }
    }
}

.post-container,
.phd-project-container {
    /* the events,blog and project cards should fill a grid on 900px and up and just be a column of single cards below that */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
        grid-row-gap: 0.8rem;
    }
    a {
        text-decoration: none;
    }

    .card {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #b3c0d1;
        }
    }
}

.fw-bolder {
    font-size: 3rem;
}

.card-body a.about-link {
    font-size: .8em;
    padding: .25em .5em;
    border-radius: 4px;
    color: rgb(78.4864864865,88,97.5135135135);
    text-decoration: none;
    border: solid 1px;
    display: inline-block;
    margin: .1em;
}

.card-body a.about-link:hover {
    color: #0d6efd;
}
