
```{=html}
<h2 class="mt-0"><a href="blog/blog_list.qmd">Blog Posts</a></h2>


<div class="card border-dark">
    <div id="blogCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

            <% let count = 0; %>
            <% for (const item of items) { %>
                <% if (count < 3) { %>
                    <div class="carousel-item <% if (count = 1) { %> active <% } %>">
                    <div class="card pb-2">
                        <div class="card-body">
                            <h4 class="card-title mt-0">            
                                <a href="blog/posts/<%- item.filename %>"><%- item.title %></a></h4>
                            <hr class="card-divider" />
                            <div class="card-text"><%- item.summary %></div>
                        </div>
                    </div>
                </div>
                    <% count++; %>
                <% } else { %>
                    <% break; %>
                <% } %>
            <% } %>

            <button class="carousel-control-prev" type="button" data-bs-target="#blogCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#blogCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
    </div>
```