```{=html}
<h2 class="mt-0"><a href="events/event_list.qmd">Recent and upcoming Events</a></h2>


<div class="card border-dark">

    <% let count=0; let ordered_items=items.sort((a,b)=> Date.parse(b.event_date) -
        Date.parse(a.event_date));

        %>
        <ul>
            <% for (const item of ordered_items) { %>
                <% if (count < 3) { %>
                    <li><a href="<%- item.path %>">
                            <%= item.title %> (on <%= item.event_date %>)
                        </a></li>
                    <% count++; %>
                        <% } else { %>
                            <% break; %>
                                <% } %>
                                    <% } %>
        </ul>
</div>
</ul>
```