```{=html}
<% items.forEach(function(item) { %>
    <% item.facts.forEach(function(fact) { %>
        <div class="card border-light p-2">
        <div class="card-body p-1">
            <p class="card-text"><%- fact %></p>
        </div>
    </div>
    <% }); %>
<% }); %>
```
