
```{=html}
<h2 class="mt-0">Blog Posts</h2>
<% let count = 0; %>
<% for (const item of items) { %>
    <% if (count < 5) { %>
        <div class="card border-dark">
            <div class="card-body">
                <h4 class="card-title mt-0"><%- item.title %></h4>
                <hr class="card-divider" />
                <p class="card-text"><%- item.summary %></p>
            </div>
        </div>
        <% count++; %>
    <% } else { %>
        <% break; %>
    <% } %>
<% } %>
```