```{=html}
<div class="post-container">
<% for (const item of items) { %>
        <div class="card border-dark">
            <div class="card-body">
                <h4 class="card-title mt-0"><%- item.title %></h4>
                <small><%- item.dates %></small>
                <hr class="card-divider" />
                <p class="card-text"><%- item.description %></p>
            </div>
            </a>    
        </div>
<% } %>
</div>
```