<div
	class="column-page page-full mt-5 wave-background d-flex flex-column align-items-center justify-content-end"
>
	<div
		id="contact-us"
		class="pt-3 d-flex flex-column align-items-center text-center"
	>
		<h3>Feel free to drop us a line with questions or feedback!</h3>
		<a
			href="mailto:arc.ccmi-cdt@ucl.ac.uk?subject=CCMI%20Question&body=Hello,%20I%20saw%20your%20website%20and..."
			class="btn btn--contact mt-2"
		>
			Contact Us</a
		>
	</div>
	<div class="footer__info w-100 text-center">
		<h5>
			CCMI is a collaboration between UCL and Imperial College, funded by
			<a href="https://www.ukri.org/councils/epsrc/">EPSRC</a>.
		</h5>
		<div id="logos" class="mt-4">
			<a href="https://www.ukri.org/who-we-are/epsrc/">
				<img
					src="/static/assets/ukri_logo.png"
					href="https://www.ukri.org/who-we-are/epsrc/"
					alt="UKRI logo"
			/></a>
			<img src="/static/assets/ccmi_square_colour_text.png" alt="CCMI logo" />

			<a href="https://www.imperial.ac.uk/">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="19.48"
					viewBox="0 0 177.3 19.48"
				>
					<polygon
						points="73.53 0 73.53 19.47 86.19 19.47 86.19 16.07 77.23 16.07 77.23 11.2 85.41 11.2 85.41 7.89 77.23 7.89 77.23 3.41 86.19 3.41 86.19 0 73.53 0"
						fill="#fff"
					></polygon>
					<path
						d="M58.15,3.14H55.42V9.71h2.73c2.13,0,3.7-1,3.7-3.28s-1.57-3.29-3.7-3.29m.19,9.71H55.42v6.62h-3.7V0h6.62c4.16,0,7.4,1.88,7.4,6.43s-3.27,6.42-7.4,6.42"
						fill="#fff"
					></path>
					<polygon
						points="118.32 0 118.32 3.41 122.89 3.41 122.89 16.07 118.32 16.07 118.32 19.47 131.17 19.47 131.17 16.07 126.59 16.07 126.59 3.41 131.17 3.41 131.17 0 118.32 0"
						fill="#fff"
					></polygon>
					<path
						d="M105.9,6c0,2.34-1.36,3.08-3.7,3.08H99.09v-6h3.11c2.54,0,3.7.94,3.7,2.89m3.9,0c0-4.55-3.12-6-7.21-6h-7.2V19.47h3.7v-7.2h3.62l3.77,7.22h4.1l-4.18-8A5.53,5.53,0,0,0,109.8,6"
						fill="#fff"
					></path>
					<path
						d="M147.4,3.45l2.66,8.6h-5.32ZM145,0l-6.43,19.47h3.9l1.33-4.28H151l1.33,4.28h3.89L149.84,0Z"
						fill="#fff"
					></path>
					<polygon
						points="164.62 0 164.62 19.47 177.3 19.47 177.3 16.07 168.31 16.07 168.31 0 164.62 0"
						fill="#fff"
					></polygon>
					<polygon
						points="37.05 0 32.38 11.45 27.7 0 22.45 0 22.45 19.47 25.95 19.47 25.95 4.91 30.43 15.19 30.63 15.19 34.13 15.19 34.33 15.19 38.8 4.91 38.8 19.47 42.31 19.47 42.31 0 37.05 0"
						fill="#fff"
					></polygon>
					<polygon
						points="0 0 0 3.41 4.58 3.41 4.58 16.07 0 16.07 0 19.47 12.85 19.47 12.85 16.07 8.28 16.07 8.28 3.41 12.85 3.41 12.85 0 0 0"
						fill="#fff"
					></polygon>
				</svg>
			</a>
			<a
				href="https://www.ucl.ac.uk/mathematical-physical-sciences/news/2024/mar/ucl-receives-ps54m-boost-doctoral-training-engineering-and-physical-sciences"
			>
				<img src="/static/assets/UCL_logo.png" alt="UCL Logo white"
			/></a>
		</div>
	</div>
</div>
