<div
	class="column-page page-full mt-5 wave-background d-flex flex-column align-items-center justify-content-center"
>
	<div id="contact-us" class="mb-3 pt-3 d-flex flex-column align-items-center">
		<h3>Feel free to drop us a line with questions or feedback!</h3>
		<a
			href="mailto:t.betcke@ucl.ac.uk?subject=CCMI%20Question&body=Hello,%20I%20saw%20your%20website%20and..."
			class="btn btn--contact mt-2"
		>
			Send us a Message</a
		>
	</div>
	<br />
	<div class="footer__info">
		<h5>
			CCMI is a collaboration between UCL and Imperial College, funded by
			<a href="https://www.ukri.org/councils/epsrc/">EPSRC</a>.
		</h5>
		<div class="d-flex flex-row justify-content-around mt-4">
			<img
				src="static/assets/ukri_logo.png"
				width="250"
				href="https://www.ukri.org/who-we-are/epsrc/"
			/>
			<img src="static/assets/ccmi_square_colour_text.png" width="250" />
		</div>
	</div>
</div>
